{% extends 'newsapp/base.html' %}

{% block main_content %}
<h1>
    {{post.title}}

    {% if post.posted_by.auth.id == request.user.id %}
    <a href="{% url 'edit_post' post.id %}"><button class="btn btn-primary" type="button">Edit</button></a>
    <a href="{% url 'delete_post' post.id %}"><button class="btn btn-danger" type="button">Delete</button></a>
    {% endif %}

</h1>
<img src="{{post.header_image.url}}" style="width: 40%;">
<br>
{{post.content}}

<br>
<br>
<h2>Comments:</h2>
{% for comment in post.comments.all %}
By: {{comment.commented_by}}<br>
On: {{comment.commented_on}}<br>
Comment: {{comment.content}}
<br>
<br>
{% endfor %}
{% endblock %}